p,
h1 {
  color: red;
  font-size: x-large;
}
a {
  text-decoration: none;
  color: black;
  margin-right: 2px;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.square {
  width: 100px;
  height: 100px;
}
.button-class {
  border: 1px solid black;
  text-align: center;
  align-items: center;
}
.button-class {
  border: 1px solid black;
  text-align: center;
  align-items: center;
}
.button-style {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  background-color: black;
  color: white ;
  border-radius: 20px;
}
