body{
    background-color: pink;
}
#s1{
    text-align: left;
}

ul{
    height:20px;
}
ul li{
    margin: 20px;
    float: none;
    



}
ul li a{
    border:1px solid green;
    display:block;


}